OPENAI_API_KEY=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
PREFIX_ENABLED=true
PREFIX_KEY=!aiky
LOGGER_LEVEL=error
LOGGER_PREFIX=[WhatsApp ChatGPT]
APPEND_TIME=true
